[Desktop Entry]
Categories=Utility;TextEditor;
{{#if comment}}
Comment={{comment}}
{{/if}}
Keywords=markdown;latex;editor;
Exec={{exec}} %F
StartupWMClass={{exec}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
{{#if mime_type}}
MimeType={{mime_type}}
{{/if}}
